

<body class="chatAI-body">


           
 <div id="content">
				<header id="chatAI-header" class="chatAI-header">
				  <h1 id="chatAI-title" class="chatAI-title">VzBot</h1>
				  
				</header>


				<section id="chatAI-main-container" class="chatAI-main-container">

				  <ul class="chatAI-response-list">

					<li id="chatAI-response-item-01" class="chatAI-response-item chatAI-response-system">
					  <span class="chatAI-response-icon"></span>
					  <span class="chatAI-response-text">Hello, how can I help you today?</span>
					</li>

					   <div *ngFor="let info of chatInfo;let i=index">
						 <li id="chatAI-response-item-02" class="chatAI-response-item chatAI-response-user">
						 <span class="chatAI-response-icon"><img src="/app/resources/images/customer.png"/></span>
					  <span class="chatAI-response-text" >
					  {{info.userInput }}
					  </span>
					  </li>
					  <div *ngIf="info.action == ''">
						 <li   id="chatAI-response-item-03" class="chatAI-response-item chatAI-response-system">
						   <span class="chatAI-response-icon"></span>
						   <span class="chatAI-response-text"> {{info.description }}  </span>
						 </li>
					  </div>
					 <div *ngIf="info.action == 'final'">
						<li class="chatAI-response-item chatAI-response-system chatAI-response-card">
						<span class="chatAI-card-header">{{info.name}}</span>
						<span class="chatAI-card-content detailsview">{{info.description}}</span>
						
						<br>
						<span class="chatAI-card-footer" *ngIf="info.url !== ''"> 
						<span *ngIf="info.fileType !=='youtube'">
							<div class="findmoredetails"> You can learn more in the below URL: </div>
							<a href='{{info.url}}'>{{info.url}}</a>
						</span>	
							
							<span *ngIf="info.fileType ==='youtube'">
							<iframe [src]="sUrl" frameborder="0"></iframe> </span>
						</span>
						
						</li>
						
						</div>
					 </div>

				  </ul>
				</section>
				<div id='divError'></div>
				<footer id="chatAI-footer" class="chatAI-footer">
				  <input type="text"  [(ngModel)]="txtChat" class="chatAI-command-input" (keyup.enter)="getResponse()" /> <br> <br>
				  <div > <img src="/app/resources/images/mic.png" style='width:50px;height:50px;margin-left:250px' onclick='startSpeech();'/> </div>
				</footer>

  </div> 

    







</body>
